/* You can add global styles to this file, and also import other style files */




nav{
    height:20vh;
   
    background-color: #ADD8E6;
   }
   footer{
    height:20vh;
    
    background-color: #ADD8E6;
   }
   section {
    Height: 100vh ;
   
 
   }